body{
    font-family: 'Poppins', sans-serif;
}h1{
    font-size:50px;
    
}.Orange{
    color:darkred;
}section{
    display: flex;
}.half-width{
    width:50%
    padding-left: 10%;
}.half-width img{
    width:102%;
}.link-button{
    text-decoration:none;
    background-color: rgb(2, 0, 139);
    padding:10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(orange ,tomato);
    font-weight: 700;
    color:black;
}